pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
    text-shadow: none;
    background: #b3d4fc;
}


code[class*="language-"], 
pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: 'Inconsolata', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
    border-radius: var(--rounder);
}

:not(pre) > code[class*="language-"],pre[class*="language-"] {
    background: #f5f2f0;
}

:not(pre) > 
code[class*="language-"], 
pre[class*="language-"] {
    background: #f5f2f0;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}
    
.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: slategray;
}